.pcon-demos .image-btn-text text {
  font-size: 1.5em;
}

.pcon-demos .image-btn-text.kr text {
  font-size: 1.2em;
}

.pcon-demos .image-btn-text.ru text {
  font-size: 0.9em;
}

.pcon-demos .image-btn-text.nl text {
  font-size: 0.8em;
}

.smallScreen.pcon-demos .jspsych-categorize-image-buttons-stimulus {
  width: 30vw;
}

.pcon-demos #jspsych-animation-image {
  width: 25vw;
  height: auto;
}

.smallScreen .pcon-demos #jspsych-animation-image {
  width: 30vw;
}

.jspsych-content.pcon-demos {
  height: 100svh;
  width: 100svw;
  justify-content: center !important;
  align-content: center;
}

.jspsych-content.pcon-demos:not(.ready) {
  visibility: hidden !important;
}

.jspsych-content.ready.pcon-demos {
  visibility: visible !important;
}
