.image-btn-text text {
    font-size: 1.5em;
}

.mobile .image-btn-text text{
    font-size: 1.5em;
}
.mobile .image-btn-text .text-stroke {
    stroke-width: 12;
}

.image-btn-text.kr text,
.image-btn-text.ru text{
    font-size: 0.9em;
}
.image-btn-text.kr .text-stroke,
.image-btn-text.ru .text-stroke {
    stroke-width: 8;
}

.image-btn-text.nl text{
    font-size: 0.9em;
}

.mobile .image-btn-text.kr text,
.mobile .image-btn-text.nl text{
    font-size: 0.8em;
}
.mobile .image-btn-text.kr .text-stroke,
.mobile .image-btn-text.nl .text-stroke {
    stroke-width: 8;
}

.mobile .image-btn-text.ru text{
    font-size: 1.2em;
}

.tablet .image-btn-text.kr text {
    font-size: .8em;
}
.tablet .image-btn-text.kr .text-stroke {
    stroke-width: 8;
}

.tablet .image-btn-text.ru text{
    font-size: 1.2em;
}